{%  include 'base.html' %}

<div class="container px-4 py-2 align-items-md-center">
    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
      <div class="col d-flex flex-column align-items-md-center gap-2">
        <h2 class="fw-bold text-body-emphasis">Make a set</h2>
        <p class="text-body-secondary">Create your own flashcards set.</p>
          <a href="{{ url_for('create_deck') }}" class="my-button btn">Create</a>
      </div>
      <div class="col d-flex flex-column align-items-md-center gap-2">
        <h2 class="fw-bold text-body-emphasis">View your sets</h2>
        <p class="text-body-secondary">View and practice your saved and created sets.</p>
          <a href="{{ url_for('view_sets') }}" class="my-button btn">My sets</a>
      </div>
    </div>
</div>
<div class="container px-4 py-2 border-top">
    <div class="row row-cols-1 row-cols-md-1 align-items-md-center g-5 py-5">
      <div class="col d-flex flex-column align-items-md-center gap-2">
        <h2 class="fw-bold text-body-emphasis">Pre-made Japanese flashcard sets</h2>
        <p class="text-body-secondary">Choose a set depending on your level. Sets are pre-made with 200 words and based on JLPT levels.</p>
      </div>

      <div class="col">
        <div class="row row-cols-5 row-cols-sm-5 g-4">
          <div class="col d-flex flash-front flex-column align-items-md-center gap-2">
              <a href=" {{ url_for('show_set', set_id='5') }} ">
              <img src="/static/cherry-blossom.png" class="mx-1" alt="Sakura" width="32" height="32">
                  </a>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Beginner</h4>
            <p class="text-body-secondary">N5 Vocabulary to start with.</p>
          </div>

          <div class="col d-flex flex-column align-items-md-center gap-2">
              <a href=" {{ url_for('show_set', set_id='4') }} ">
              <img src="/static/cherry-blossom.png" class="mx-1" alt="Sakura" width="32" height="32">
              </a>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Elementary</h4>
            <p class="text-body-secondary">N4 Level vocabulary.</p>
          </div>

          <div class="col d-flex flex-column align-items-md-center gap-2">
              <a href=" {{ url_for('show_set', set_id='3') }} ">
              <img src="/static/cherry-blossom.png" class="mx-1" alt="Sakura" width="32" height="32">
                </a>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Intermediate</h4>
            <p class="text-body-secondary">N3 Vocabulary.</p>
          </div>

          <div class="col d-flex flex-column align-items-md-center gap-2">
              <a href=" {{ url_for('show_set', set_id='2') }} ">
              <img src="/static/cherry-blossom.png" class="mx-1" alt="Sakura" width="32" height="32">
                </a>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Advanced</h4>
            <p class="text-body-secondary">A collection of N2 vocabulary.</p>
          </div>

         <div class="col d-flex flex-column align-items-md-center gap-2">
             <a href=" {{ url_for('show_set', set_id='1') }} ">
              <img src="/static/cherry-blossom.png" class="mx-1" alt="Sakura" width="32" height="32">
                </a>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Expert</h4>
            <p class="text-body-secondary">A collection of N1 vocabulary.</p>
          </div>
      </div>
    </div>
  </div>
</div>