{%  include 'base.html' %}

    <main>
        <div class="container mt-5 mb-1">
        <div class="position-relative p-5 text-center text-muted bg-body rounded-5">
        <h1 class="text-body-emphasis">Set Name</h1>
            <p class="col-lg-6 mx-auto mb-4">Set Description.</p>
            <a href="#" class="my-button btn">Practice</a>
        </div>
        </div>
    <div class="container px-4 py-2 align-items-center">
    <div class="row row-cols-2 align-items-stretch g-5 py-5">
      <div class="col d-flex flex-column align-items-center gap-2">
        <h2 class="fw-bold text-body-emphasis">Card front</h2>
      </div>
        <div class="col d-flex flex-column align-items-center gap-2">
        <h2 class="fw-bold text-body-emphasis">Card back</h2>
        </div>
        <div class="col d-flex flex-column align-items-center my-button rounded-5 gap-2">
            <h3>Kanji</h3>
            <p>reading</p>
            <p>audio</p>
            </div>
            <div class="col d-flex flex-column align-items-center my-button rounded-5 gap-2">
            <h3>English</h3>
            <p>Description</p>
            </div>
        </div>
    </div>
    </main>