{% include 'base.html' %}

<main>
    <div class="container mt-5 mb-1">
        <div class="position-relative p-5 text-center text-muted bg-body rounded-5">
            <h1 class="text-body-emphasis">Set Name</h1>
            <p class="col-lg-6 mx-auto mb-4">Set Description.</p>
            <a href="#" class="btn my-button">Practice</a>
        </div>
    </div>

    <div class="container px-4 py-2">
        <!-- Row for titles and cards -->
        <div class="row g-4 py-5 align-items-stretch">
            <!-- Card Front -->
            <div class="col-md-6">
                <div class="d-flex flex-column h-100">
                    <h2 class="fw-bold text-body-emphasis text-center">Card front</h2>
                    <div class="card flash-front rounded-5 p-3 d-flex flex-column justify-content-center align-items-center h-100">
                        <h3>Kanji</h3>
                        <p>reading</p>
                        <p>audio</p>
                    </div>
                </div>
            </div>
            <!-- Card Back -->
            <div class="col-md-6">
                <div class="d-flex flex-column h-100">
                    <h2 class="fw-bold text-body-emphasis text-center">Card back</h2>
                    <div class="card flash-back rounded-5 p-3 d-flex flex-column justify-content-center align-items-center h-100">
                        <h3>English</h3>
                        <p>Description</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>