{% include 'base.html' %}
    <main>
        <div class="container my-5">
        <div class="position-relative p-5 text-center text-muted bg-body rounded-5">
        <h1 class="text-body-emphasis">Upload image</h1>
        <p class="col-lg-6 mx-auto mb-4">
        Upload a screenshot/photo of the text you would like to translate and listen to.</p>
            <form action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" class="btn px-5 mb-5" name="file" accept="image/*" required>
                <button type="submit" class="my-button btn px-5 mb-5">Upload</button>
            </form>
            {% if image is defined %}
            <img src="{{ image }}" class="img-fluid" alt="Uploaded image">
            {% endif %}
            {% if audio is defined %}
            <audio controls class="mt-5">
                <source src="{{ url_for('static', filename='speech.mp3') }}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
            {% endif %}
        </div>
            {% if translation is defined %}
            <div class="position-relative p-1 text-center text-muted bg-body rounded-5">
                <h2 class="text-body-emphasis">Translated text</h2>
                <p class="col-lg-6 mx-auto mb-4">{{ translation }}</p>
                {% endif %}
        </div>
        </div>
    </main>
</body>
</html>