{% include 'base.html' %}

<div class="container px-4 py-2">
{% if current_user.is_authenticated %}
    <div class="row row-cols-1 row-cols-md-1 align-items-md-center g-5 py-5">
      <div class="col d-flex flex-column align-items-md-center gap-2">
        <h2 class="fw-bold text-body-emphasis">{{ current_user.name }}'s Flashcard Sets</h2>
      </div>

      <div class="col">
        <div class="row row-cols-5 row-cols-sm-5 g-4 justify-content-center">
            {% for set in sets %}
          <div class="col d-flex flex-column align-items-md-center gap-2">
              <a href=" {{ url_for('show_set', set_id=set.id) }} ">
              <img src="/static/cherry-blossom.png" class="mx-1" alt="Sakura" width="32" height="32">
                  </a>
            <h4 class="fw-semibold mb-0 text-body-emphasis">{{ set.title }}</h4>
            <p class="text-body-secondary">{{ set.description }}</p>
          </div>
            {% endfor %}
      </div>
    </div>
  </div>
{% else %}
<p class="col-lg-6 mx-auto pb-0"> Please <a href="{{ url_for('login') }}">log in</a> to view your sets.</p>
{% endif %}
</div>