{% include 'base.html' %}
    <main>
        <div class="container my-5">
        <div class="position-relative p-5 text-center text-muted bg-body rounded-5">
            {% for word in vocab_list %}
            {% if word['kanji'] %}
        <h1 class="text-body-emphasis mt-3">{{ word['kanji'] }}</h1>
             <p class="col-lg-6 mx-auto mb-4">{{ word['reading'] }}</p>
            {% else %}
            <h1 class="text-body-emphasis mt-3">{{ word['reading'] }}</h1>
            {% endif %}
            <p class="col-lg-6 mx-auto">{{ word['meaning'] }}</p>
            <audio controls class="my-2">
                <source src="{{ url_for('static', filename=word['audio_file']) }}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
            {% endfor %}
        </div>
        </div>
    </main>
</body>
</html>